.container{
    background-color :whitesmoke;
    margin:auto;
    padding: 10px;
    width:50%;
}
.Signin{
    background-color: rgb(138,8,8);
    margin:auto;
    padding:10px;
    width:50%;
}